.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight:800;}
.label-title {
    font-weight: bolder;
}
.text-underline {
    text-decoration: underline;
}
.text-white-2{
    color:#C7C6CC !important;
}
div {
    word-wrap: break-word;
}

::selection {
    color: white;
    background: #536adde8;
}

.blue-col-a {
    color: #64002F !important;
}

#sidebar,
#sidebar ul.menu-categories.ps {
    height: 95% !important;
}

#content > div {
    /* height: 100% !important; */
}

#content .layout-top-spacing {
    margin-top: 0 !important;
}

.min-height-20em {
    min-height: 20em;
    /* min-height: 100%; */
}

.cust-title {
    color: #FE3B96 !important;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.active_link {
    color: orange;
}

.w-290-px {
    width: 290px !important;
}

.lg-icon {
    font-family: lg !important;
}
.fc .fc-button-primary {
    color: #64002F !important;
    border-color: #64002F !important;
    background-color: transparent !important;
}

.fc .fc-button-active {
    color: #fff !important;
    background-color: #64002F !important;
}

.fc .fc-button-primary:focus {
    box-shadow: 0 0 0 0.2rem #43acee9d !important;
}
.form-group label,
legend,
label {
    color: #000;
    font-weight: bolder;
}
legend {
    font-weight: bolder !important;
    font-size: 1.25rem !important;;
    margin: 0px !important;
}

form .widget-heading {
    color: #64002F;
    font-weight: bolder;
    font-size: 1rem;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle {
    padding-bottom: 12px;
}

#sidebar ul.menu-categories li.menu > .dropdown-toggle i.bx,
#sidebar ul.menu-categories li.menu > .dropdown-toggle i.far {
    color: #888ea8;
    margin-right: 18px;
    vertical-align: middle;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"] i.bx,
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"] i.far {
    color: #fff;
}

.rajan {
    padding: 0px;
}

.table .heading-center-text {
    vertical-align: middle;
}
.vission_chart_submit_btn {
    display: flex;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #f1f2f3 !important;
    color: black;
}

.vission_padding_cut {
    padding: 0px 7px 0px 7px;
}

.controllinput_Spectacle {
    width: 72px;
    padding: 0px;
    font-size: 15px;
    padding: 6px;
}

 .search_btn_size {
    padding: 10px 20px 10px 20px;
} 

.pa_form_responsive .pa_form_input {
    width: 272px;
}
/*
padding all page */

.temp-a {
    padding: 0px 24px 20px 24px;
}

.temp-index {
    padding: 20px 20px 20px 15px;
}

.dz-preview.dz-image-preview .uploading-before{
display: flex;
align-items: center;
gap: 5px;
}

.ptpb{
    padding-top: 0px;
    padding-bottom: 0px;
}

.pb18{
    padding-bottom:18px;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.svg-icon {
    animation: rotate360 2s linear infinite;
}


.dz-preview.dz-image-preview.dz-processing.dz-success.dz-complete .uploading-before{
    display: none;
}

.add-event-margin{
    margin-left: 32px;
}

.cutome-topgrid{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}
.searchbtn{
    background: #0B0206 !important;
    border: 1px solid #4D0C2A !important;
    border-radius: 15px;
    font-weight: 600 !important;
}
@media (max-width: 992px) {
    .controllinput_Spectacle {
        width: 100%;
        padding: 0px;
        font-size: 15px;
        padding: 10px;
    }
    .pb18 {
        padding-bottom: 0px;
    }
    .ptpb {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}
.navclr {
    background: #64002F !important;
       }
.app_form .app_form_input {
    width: 290px;
    margin-left: 15px;
}

@media (max-width: 632px) {

    .app_form {
        display: flex;
        flex-flow: row;
        -ms-flex-align: center;
        /* flex-direction: column;
        flex-wrap: wrap; */
        align-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
    .app_form .app_form_select {
        width: 100%;
        margin-top: 10px;
    }

    .app_form .app_form_input {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .app_form .search_btn {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .coem{
        margin-right: 1rem;
    }
}

@media (max-width: 768px) {
    .controllinput {
        padding: 10px;
        width: 130px;
    }
    .fc .fc-toolbar.fc-header-toolbar {
        flex-direction: column;
    }
    .fc .fc-toolbar.fc-header-toolbar > .fc-toolbar-chunk {
        margin-top: 0.5em;
    }
}

@media (max-width: 576px) {
    .bdpd{
        padding: 0px;
    }
    .app_form {
        gap: 12px;
    }
    .coem{
        margin-right:unset;
    }
    .layout-px-spacing{
        padding: 0px !important;
    }
    .w-290-px {
        width: 100% !important;
    }
    .vission_chart_submit_btn {
        display: flex;
        flex-direction: column;
    }

    .followup_submit_btn {
        width: 100%;
    }
    .followup_appointment_btn {
        width: 100%;
    }

    .medicine_pagination {
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        justify-content: space-around;
    }
    .padding_remove_class {
        padding: 0px 0px 20px 0px;
    }

    .layout-spacing {
        padding: 0px;
    }

    .pa_form_responsive {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }
    .pa_search_btn {
        margin-top: 15px;
    }

    .pa_form_responsive .pa_form_input {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .pa-padding-remove {
        padding: 0px 0px 0px 0px;
    }
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1em;
}
.auth-form-input {
    position: relative;
}
.auth-form-input .icon {
    position: absolute;
    right: 3%;
    top: 50%;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
}
.auth-form-input input {
    border: none;
    font-size: 24px;
    background: #ffffff;
    box-shadow: 1.41941px 1.41941px 8.51649px rgba(0, 0, 0, 0.12);
    border-radius:12px;
}
.auth-page-bg {
    background-color: #f1f2f8;
}
.auth-text-primary{
    color: #64002F;
}
.auth-bg-primary{
    background-color: #64002F !important;
}
.header-container .navbar-nav.theme-brand {
    background: #64002F !important;
    border-color: #64002F !important;
       }

.mce-notification-warning {
    display: none;
}

thead tr th:first-child{
    width:80px;
}
.navbar{

    background:transparent;
}
#sidebar ul.menu-categories li.menu:not(.active) > .dropdown-toggle[aria-expanded="true"]
{
    background: #FE3B96 !important;
}
.breadcrumb-two .breadcrumb li.active a
{
    background: #FE3B96 !important;
}
.breadcrumb-two .breadcrumb li a{
    color:#5F5E5F; 
}

.btn-outline-primary{
    border-color: #FE3B96 !important;
    color:#FE3B96 !important;
    &:hover{
        background:#FE3B96;
    }
}
.btn-primary{
    background:#951350 !important;
    border: 1px solid #7BD2C2;
    border-radius: 8px;
    box-shadow: unset;
}
.btn-success{
    border-radius: 8px;
}
.btn-primary:hover{
    box-shadow: 0 10px 20px -10px #4361ee;
}
.table > thead > tr > th{
    color:#AD7994;
}
.breadcrumb-two .breadcrumb li a:before{
    content:unset;
    display: unset;
    width: unset;;
    height: unset;
    border-top: unset;
    border-bottom: unset;
    border-left:unset;
    position: unset;;
    top: unset;;
    margin-top: unset;;
    margin-left:unset;
    left: unset;
    z-index: unset;
}

.breadcrumb-item+.breadcrumb-item::before{
    float: left;
    padding-right: .5rem;
    color: #C7C6CC;
    content: ">";
    font-size: 16px;
}
.breadcrumb-item a{
    color: #C7C6CC;
    font-weight: 400;
    font-size: 16px;
}
.breadcrumb-item.active a{
    color: #FE3B96;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.widget-one_hybrid.widget-referral .widget-heading .w-icon
{
    color: #64002F;
}

.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .user-profile-section {
    padding: 16px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: -12px;
    margin-left: -12px;
    background:#64002F;
    margin-top: -1px;
    /* background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%); */
}
.form-control:focus
{
border-color: #64002F;

}
/* .btn-primary{
    box-shadow: 0 10px 20px -10px #951350;
} */
.btn-outline-primary:hover
{
    box-shadow: 0 10px 20px -10px #951350;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active
{
    background: #64002F;
}
.sidebar-wrapper {

left: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

/* .fixed-top{
    left: 254px;
} */
 .header.navbar.navbar-expand-sm{
    left: 254px;
    margin-top: 8px;
 }
 
 .header.navbar.navbar-expand-sm.expand-header{
    left: 54px;
 }
 .header.navbar.navbar-expand-sm .ctsm-margin{
    margin-right: 270px;
 }
 .header.navbar.navbar-expand-sm.expand-header .ctsm-margin{
    margin-right: 70px;
 }
.sidebar-wrapper{
    top: 0px;
    width: 305px;
}

#sidebar, #sidebar ul.menu-categories.ps{
    height: 100% !important;
}
#sidebar ul.menu-categories{
    padding: 0px 0 0px 0;
}

.header-container .navbar-nav.theme-brand{
    width: unset;
    height: unset;
    display: unset;
    justify-content: unset;
    margin-left: 31px;
}
#content {
margin-left: 290px;
}
#sidebar ul.menu-categories li.menu{
    transition:unset;
    margin: unset;
    border-bottom: 1px solid #181215;
}
#sidebar ul.menu-categories li.menu a{
    transition: .600s;
    margin: 0px 15px 3px 15px;
}

html,body{
    margin: 0px;
    padding: 0px;
}
html, body {
    /* background-image: url(/backend/images/login/login-bg.png); */
    background-color:#6d5656;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
   min-height: unset;
}

.widget{
    background: #060405;
    border:unset;
    border-radius: 15px;
    border: 1px solid #181215;
}

.widget.box .widget-header{
    background: transparent;

}

.widget-content-area{
    background: transparent;
}
.text-clr{
    color:#C7C6CC;

}




.table tbody tr {
    border-bottom: 1px solid  #181215 !important; /* Red border for rows */
}
.table thead tr {
    border-bottom: 1px solid  #181215 !important; /* Red border for rows */
}
.table>thead>tr>th{
    font-weight: 600;
    font-size: 14px;
}
.table>tbody>tr>td {
    font-weight: 600;
    font-size: 14px;
}
.table td, .table th {
    border: none !important; /* Remove borders around table cells */
}

.sidebar-wrapper{
    background-color:transparent;
    padding: 15px 20px 14px 20px;
    border: 0px;
}
#sidebar{
    /* background: linear-gradient(166.22deg, rgba(48, 46, 46, 0.14) -5.99%, rgba(84, 7, 43, 0.14) 107.81%);
    border: 1px solid #181215; */
    border-radius: 15px;
    margin-top: -6px;
    /* padding-top:20px; */
}
/* .ctsm-margin{
    margin-right: 255px;
} */
#sidebar ul.menu-categories li.menu > .dropdown-toggle {
    color:#BFC1CA;
    font-size: 16px;
}

#sidebar ul.menu-categories li.menu:not(.active) > .dropdown-toggle[aria-expanded="true"]{
    background-color: transparent !important;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"] span{
    color:#FE3B96 !important;
}
.sidebar-closed #sidebar:hover ul.menu-categories li.menu{
    margin: 0px;
}
.sidebar-closed #sidebar ul.menu-categories li.menu{
    margin: 0px;;
}
.widget-one_hybrid.widget-referral .widget-heading .w-icon{
    color:#FE3B96;
}
.widget-one_hybrid.widget-referral .widget-heading .w-icon{
    background-color:#C7C6CC;
}
p{
    color: #C7C6CC;
}
/* .widget-one_hybrid.widget-referral .widget-heading .w-icon{
    background-color: #5F5E5F;
} */
.form-group label, legend, label{
    color: #C7C6CC;

}
.table>tbody>tr>td{
    color: #C7C6CC;
}
.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu .user-profile-section{
    background: #FE3B96;

}

body {
    font-family: 'Montserrat', sans-serif;
}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"] svg{
    fill:#FE3B96;
}
.widget-fouter{
    background: linear-gradient(114.88deg, #5A1837 7.26%, #181215 25.65%, #181215 41.63%, #181215 59.05%, #F99EC9 104.07%);
    padding:1px;
    border-radius:15px;
}
.widget-finner{
    background-color:black;border-radius:15px
}
.btn-success{
    box-shadow: unset;
}
.btn-success:hover{
    box-shadow: 0 10px 20px -10px #1abc9c;
}
.app_form .app_form_input{
    margin-left: 32px;
}
input::placeholder {
    color: #8C9187 !important; 
    background:#1A1A1A !important;     

}

input{
    color: #ffffff !important; 
    background: #1A1A1A !important;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
    color: #ffffff !important; 
    background: #1A1A1A !important;
    border: 1px solid #181215 !important;
}
/* #tinymce {
    background-color: #1A1A1A !important;
} */

.form-control{
    border: 1px solid transparent !important;
    border-radius: 15px;
}
/* Default state (jab click nahi kiya ho) */

/* Jab click karein (checked state) */
input[type="radio"]:checked, 
input[type="checkbox"]:checked {
    accent-color: #FE3B96;
}

.ctr-submit{
    width: 160px;
}
/* WebKit Browsers (Chrome, Edge, Safari) */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* White color ke liye */
}

/* Firefox ke liye (Currently not supported for color change) */
body.mceContentBody { 
    background: #bc1111 !important; 
    color:#000;
 }
 .badge-secondary{
    background-color:#951350 !important;
    border-radius: 8px;
 }
 .badge-primary{
    background-color:#951350 ;
 }
 .form-control.event-dpd-cust{
background-color: #1A1A1A !important;
color: white !important;
 }
 .page-item.disabled .page-link{
    background-color: black;
    color:white;
    border: 1px solid #181215;
 }
 .page-item.active .page-link{
    background-color:#8E0043;
    color: white;
    border: 1px solid #181215;
 }
 .page-link{
    background-color:#0E0B0B;
    color:white;
    border: 1px solid #0E0B0B;
 }

 .browsertext {
    color: #D0D0D0;
}

.guest-uploader {
    font-weight: bold;
    padding: 10px 9px;
    border: none;
    border-radius: 22px;
    border: 1px solid #B0ABAB;
    width: 150px;
    font-size: 14px;
    color: #FE3B96;
}
.main-sidebar{
    background-color:#060405;
    border-radius: 15px;
    height: 100%;
    border: 1px solid #181215;

}

.main-bredcrumb{
     display: grid;
    grid-template-columns: auto auto;
    align-items:center;

}
.breadcrumb{
    justify-content:flex-end;
    padding-right: 0px;
    padding-left: 0px;;
}
.btn-success{
    background: #951350 !important;
}
.custom-dropdown .dropdown-menu{
background-color: #060405;
color:white;

}
.custom-dropdown .dropdown-item{
    color:white;

}

.custom-dropdown .dropdown-item:focus {
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
}

.custom-dropdown .dropdown-item.active, .custom-dropdown .dropdown-item:active, .custom-dropdown .dropdown-item:hover {
    color:white;
    background-color: #060405;
}
.date-column-grid {
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    gap: 24px;
}

.form-inline{
    justify-content: flex-end;
}

@media screen and (max-width:1200px) {
    .app_form .app_form_input{
        margin-left: 15px;
    }
}
@media screen and (max-width:992px) {
    .app_form .app_form_input {
        margin-left: 18px;
    }
}
@media screen and (max-width:992px) {
    .app_form .app_form_input{
        margin-left: 15px;
    }
}
@media screen and (max-width:992px) {
    .header.navbar.navbar-expand-sm{
        left: 0px;
        margin-top: 0px;
     }
     .header.navbar.navbar-expand-sm.expand-header{
        left: 0px;
     }
     .header.navbar.navbar-expand-sm .ctsm-margin{
        margin-right: 0px;
     }
     .header.navbar.navbar-expand-sm.expand-header .ctsm-margin{
        margin-right: 0px;
     }
     /* .ctsm-margin{
        margin-right:0px;
    } */
    #content{
        margin-left: 0px !important;;
    }
    #sidebar{
        margin-top: 11px;
    }
}

@media screen and (max-width:576px) {
    .form-control{
        height: auto;
    }
     .search_btn_size{
        padding: 0.4375rem 1.25rem !important;
    } 
    .pb18{
        padding-bottom: 0px;
    }
    .ctr-submit{
        width: 100%;
    }
    .date-column-grid {
        display: grid;
        grid-template-columns: calc(50% - 4px) calc(50% - 4px);
        gap: 8px;
        padding: 0px;
    }
    .maz{
        margin: 0px !important;
    }
    .mto{
        margin-top: 12px !important;
    }
    .mwh{
        width: 100%;
    }
    .pbz{
        padding-bottom: 12px !important;
        padding-top: 10px;
    }
    .app_form .app_form_input{
    margin-left: 0px;
}
.form-group label, label{
    font-size: 1rem;
}
.row{
    margin-right: unset;
    margin-left: unset;
}

.widget{
    padding: 12px;
}
.breadcrumb-item a{
    font-size: 14px;
}
.breadcrumb-item.active a{
    display: inline-block;
    max-width: 150px; /* Adjust width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

}
.breadcrumb-item+.breadcrumb-item::before {
    font-size: 14px;
}
legend{
    font-size: 16px !important;
}
.mp-0{
padding: 0px;
}

}