.custome-accordion .accordion-button{
    font-size: 1.5rem;
}


.footer h3{
    font-weight: 600;
}
.footer-links{
    list-style: none;
    padding: 0px;

}
.footer-links li{
margin: 0px;
display: inline-block;

margin-right: 20px !important;

}
.footer-links li a{

font-size: 16px;
font-weight: 500;
text-decoration: none;
color: #ffffff;

&:hover{
    color:#ed0571;
}

}

.bottom-footer{
    border-top: 1px solid #9C215F;
    padding: 30px 0px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.bottom-footer a{
   text-decoration: none;
    color: #ffffff;
}
.social
{
    display: flex;
}

.social a img
{
    width: 20px;
}

.social a
{
    border: 1px solid #FF3895;
    padding: 5px 8px;
    margin: 0px 15px;
}
.section-title{

font-size: 32px;
font-weight: 700;
text-align: left;

}

.text-white{
    color: #ffffff !important;
}

.text-pink{
    color:#ed0571 !important;
}
.box{
    border: 1px solid #630430;
    padding: 40px 30px;
    height: 200px;
    align-items: center;

}
.box .title{

font-size: 24px;
font-weight: 600;
color: #ffffff;
text-align: center;

}
.box p{

font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: center;
color: #ffffff;

}
.box-outer .col-md-6{
padding: 0px;
}
.mr-0
{
    margin-right: 0px !important;
}
.card-price{
    border-radius: 10px;
    border: 1px soild #FFFFFF !important;
    width:200px;
    padding: 40px 0px 30px 0px;

}
.card-price h5{

font-size: 26px;
font-weight: 500;
color:#D1DEDE;
text-align: center;

}
.card-price .data{

font-size: 38px;
font-weight: 600;
color: #E8EEEE;
text-align: center;

}
.card-price .duration{
    color: #B5CBC8;
font-size: 14px;
font-weight: 400;
text-align: center;

}
.card-price .btn-round{
border: 2px solid #427096;
width:125px;
margin: auto;
background: transparent;
padding: 10px 13px ;
color: #DBE6E0;
border-radius: 23.5px 19.75px 18.5px 21.25px;

font-size: 10px;
font-weight: 600;



}
.card-price .points{
font-size: 14px;
font-weight: 600;
text-align: center;
color: #BAC5BA;
}
.first:hover{
background: #427096;
color: #000;
}
.second{
    border-color: #FD692A !important;
    &:hover{
        background: #FD692A ;
        color: #000;
    }
}
.third{
    border-color: #8E00CB !important;
    &:hover{
        background:#8E00CB;
        color: #000;
    }
}
.fifth{
    border-color: #84FF89 !important;
    &:hover{
        background: #84FF89;
        color: #000;
    }
}
.recomend
{

    font-size: 13.5px;
    font-weight: 600;

padding: 4px 15px;
border-radius: 9px;
position: absolute;
top: -15px;
left: 17%;
background: #37054D;
color: #ffffff;
}
.algoshare{

font-size: 24px;
font-weight: 500;
text-align: center;
color: #ffffff;
}
.algobottom{
font-size: 16px;
font-weight: 500;
text-align: center;

color: #ffffff;
}
.curve{
 background: url('../images/index/curve.png');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% -100% !important;
z-index: 0;
height: 800px;
}
.uppersection{
    z-index: 10;
}
@media screen and (max-width:1116px) {
.curve{
    height: auto;
    background: none !important;
}
.robot{
    right: -80px !important;
}
}
@media screen and (max-width:767px) {
.card-price{
    width: 100%;
    margin: 10px;
}

}
.bg-slider{
    background: url('../images/index/sliderbg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.slider-sec{
    padding-top: 200px;
}
.f-img
{
position: relative;
top: -100px;
left: 14%;
z-index: 0;
width: 350px;
}
.s-img{
    position: relative;
    top: -160px;
    left: 0%;
    z-index: 10 !important;
    width: 400px;
}
.t-img{
    position: relative;
    top: -100px;
    z-index: 0;
    right: 12%;
    width: 350px;
}
.slider-title{

font-size: 26px;
font-weight: 700;


}
.slider-txt{

font-size: 20px;
font-weight: 500;
color: #FFFFFF;
text-align: center;
padding: 10px 30px;
}
.textgroup{
    position: relative;
    top: -80px;
}

@media screen and (min-width:1398px) {
    .f-img
    {

    left: 17%;

    }
    .s-img{

        left: 7%;


    }
    .t-img{

        right: 3%;

    }
    .prev,
    .next {

        top: 380% !important;

    }


}

@media screen and (max-width:1116px){
    .img-group{
    position: relative;
    top: -20px !important;
    left: -75px;

    }
    .img-group img{
        padding: 30px;
    }
    .textgroup{
        top: -140px;
    }
}

@media screen and (max-width:992px){
    .prev{
        top: 432% !important;
    }

.next {
  top: 430% !important;
}
    .img-group{
    position: relative;
    top: -20px !important;
    left: 5px;

    }
    .img-group .f-img{
    width: 200px;
    }
    .img-group .s-img{
        width: 300px;
        }
    .img-group .t-img{
        width: 200px;
        }
    .textgroup{
        top: -140px;
    }
}

@media screen and (max-width:767px){
    .prev {
      top: 522% !important;
    }

    .next {
      top: 520% !important;
    }
    .img-group{
    position: relative;
    top: -20px !important;
    left: -70px;

    }
    .img-group .f-img{
    width: 200px;
    }
    .img-group .s-img{
        width: 250px;
        }
    .img-group .t-img{
        width: 200px;
        }
    .textgroup{
        top: -140px;
    }
    .slider-title{
        font-size: 20px;
    }
    .slider-txt{
        font-size: 16px;
    }
}


@media screen and (max-width:576px){
    .prev {
      top: 542% !important;
    }

    .next {
      top: 540% !important;
    }
    .img-group{
    position: relative;
    top: 40px !important;
    left: -10px;

    }
    .img-group .f-img{
    width: 150px;
    left: 16%;
    }
    .img-group .s-img{
        width: 200px;
        top: -130px;
        }
    .img-group .t-img{
        width: 150px;
        right: 16%
        }
    .textgroup{
        top: -80px;
        padding-top: 0px;
    }
    .slider-title{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .slider-txt{
        font-size: 14px;
        padding-top: 0px;
    }
    .bg-slider{
        background-size: cover;
    }
}


@media screen and (max-width:440px){
    .prev {
        top: 552% !important;
      }

      .next {
        top: 550% !important;
      }
    .img-group{
    position: relative;
    top: 40px !important;
    left: 7px;

    }
    .img-group .f-img{
    width: 150px;
    left: 5%;
    }
    .img-group .s-img{
        width: 200px;
        top: -130px;
        left: -20%;
        }
    .img-group .t-img{
        width: 150px;
        right: 45%
        }
    .textgroup{
        top: -60px;
        padding-top: 0px;
    }
    .slider-title{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .slider-txt{
        font-size: 14px;
        padding-top: 0px;
    }
    .bg-slider{
        background-size: cover;
    }
}





.prev,
.next {
	position: absolute;

	z-index: 2;
	transform: translateY(-50%);

	display: block;
	padding: 0.5rem;

	color: white;
	text-decoration: none;
    &:hover{
        background:#9C215F;
        border-radius: 80%;
    }
}

.prev {
    top: 412%;
	left: 17%;
	background-color:transparent;
}

.next {
    top: 410%;
	right: 17%;
	background-color:transparent;
    transform: rotate(180deg);
    border-radius: 15px;
}
.kwik-bg{
   width: 60%;
   height: 3500px;
   position: absolute;
   top: 200px;
}
