
/* nav */
:root{
    --dbcolor:#4AEEFB;
    --lightcolor:#D8DFDD;
    --dblwhitecolor:#C6C8C3;
    --tplwhitecolor:#AEADAC;
    --ltdrkblue:#079B9C;
    --frtwhitcolor:#74736E;
    --dppink:#FE3B96;
   
}

.btn-login {
    --bs-btn-color:#FFFFFF;
    --bs-btn-bg: #FE3B96;
    --bs-btn-border-color: #FE3B96;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FE3B96;
    --bs-btn-hover-border-color: #FE3B96;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FE3B96;
    --bs-btn-active-border-color: #FE3B96;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:#FE3B96;
    --bs-btn-disabled-border-color: #FE3B96;
    width: 107px;
    border-radius: 26px;
    font-size: 20px;
}
.withsignin{
    width: 151px;
    border-radius: 8px;
}

.dppink{
    color:var(--dppink);
}
.frtwhitcolor{
    color: var(--frtwhitcolor);
}
.ltdrkblue{
    color: var(--ltdrkblue);
}
.lightcolor{
    color: var(--lightcolor);
}

.tplwhitecolor{
    color: var(--tplwhitecolor);
}
.dblwhitecolor{
    color: var(--dblwhitecolor);
}
.lpinkmc{
    color:#FD59FF;;
}

.fw-900{
    font-weight: 900;
}


/* .mnst-db{
    font-family: 'Montserrat Alternates', sans-serif;
} */

.fs-43px{
    font-size: 43px;

}

.pt-10{
    padding-top:10px
}
.dbcolor{
    color: var(--dbcolor);
}
.darkpink{
    color: #FF3895;
}
.nav-link{
    color: white !important;
}
.nav-link.active{
    color: #FF3895 !important;
}
.navbar-toggler{
    background-color: white;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 63px;
    width: 100%;
}
.navbar-brand{
    position: absolute;
}

.navbar{
    /* background-color: red; */
}

.nav-item .nav-link{
    font-size: 20px;
}
/*end nav */


/* hero section */
.full-img{
    position: absolute;
    bottom:0px;
}
.full-img3{
    position: absolute;
    top: 12em;
}
.blurhero-img{
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(12px);
    left: 50%;
    transform: translate(-50%);
    width: 97%;
    margin-top: -72px;
}

.blurhero-img-login{
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(12px);
    left: 50%;
    transform: translate(-50%);
    width: 97%;
    margin-top: -72px;
    /* padding-bottom: 84px; */
    min-height: 672px;
}


.plainplate-img{
    position: absolute;
    z-index:-2;
    bottom:30px;
    width:100%
}
.plainplate-img2{
    position: absolute;
    z-index:-2;
    bottom:-40px;
    width:100%
}
.plainplate-img3{
    position: absolute;
    z-index:-2;
    top: 5em;
    width:100%
}
.login-form .form-control.sin-input{
    background-color: #1A1A1A;
    border: 0px;
    color:#C6C8C3;

}
.login-form .form-control.sin-input:focus {
    outline: none; /* This removes the focus outline */
    box-shadow: none; /* This removes any shadow effect */
}
.smalllarrow-img{
    position: absolute;
    right: 0px;
    top:62%
}
.smalllarrow-img2{
    position: absolute;
    right: 13em;
  
    bottom: -2rem;
}
.hero-main{
    padding-top: 60px;
    padding-bottom:60px;
}

/* hOW kWIKPIC wORKS? */
.kws-bg{
    background-image:url('/frontend/images/index/index-new/nwunionimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.event-detailsbg{
    background-image:url('/frontend/images/index/index-new/edbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    padding: 23px 18px;
    border-radius: 45px;
}
.scn-sharemain{
    background-image:url('/frontend/images/index/index-new/smallbox.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 47px;
    border-radius: 22px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    height: 100%;
    backdrop-filter: blur(15px);
}

.share-box{
    margin-top: -73px;
    /* box-shadow: 0px 4px 4px 20px #000000CC; */
    background: linear-gradient(133.51deg, #1E1C1C -7.69%, #000000 62.36%);

}

.ofmainbg{
    background-image:url('/frontend/images/index/index-new/ourf.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(35px);
    border-radius:32px;
    padding:63px 84px;
}
.smty-text{
    font-size:36px;
    padding-top:50px;
    padding-bottom:50px
}
.cmw-text{
    font-size: 20px
}
.clcphotot{
    font-size: 20px;
    padding-bottom:20px;
}
.lptbg-img{
    position: absolute;
    width: 389px;
    z-index: 1;
    bottom: 0px; 
}
.tg-one-img{
    position: absolute;
    width: 108px;
    z-index: 1;
    top: -25px;
    left: 27px;
}
.tg-two-img{
    position: absolute;
    width: 177px;
    z-index: 1;
    top: 35px;
    left: 79px;
}
.tg-three-img{
    position: absolute;
    width: 165px;
    z-index: 1;
    top: 21px;
    left: 13rem;
}
.thanoshand-img{
    position: absolute;
    bottom: -7rem;
    left: -19rem;
    max-width: 440px;
    
}
.arrowtype-img{
    position: absolute;
    z-index: 0;
    right: -10px;
    top: -6px;
}
.outer-tgbg{
   background: linear-gradient(54.34deg, rgba(0, 0, 0, 0) 30.46%, #4AFFC8 95.28%);
   padding:1.32px;
   border-radius:32px 
}
.outer-tgbg-black{
    background-color: black;
    border-radius:32px
}

.accordion-body-mi{
    position: absolute;
    /* right: 0px; */
    border-radius: 32px;
    top: 50%;
    right: 3%;
    transform: translate(6%, -50%);
    
    background-image: url(/frontend/images/index/index-new/dropcardbg.svg);
    background-repeat: no-repeat;
    padding: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 692px;
                                                                                
}

.accordion-body-mi::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 6%;
    transform: translate(6%, -50%);
    background: radial-gradient(123.22% 190.53% at 6.81% -90.53%, rgba(74, 221, 253, 0.14) 0%, rgba(0, 0, 0, 0.14) 73.27%, rgba(70, 144, 213, 0.0756) 100%);
    border-radius: 32px;
}

.accordion-button{
 padding-bottom: 50px !important;   
}
.accordion-body{
    border-top: 1px solid #FD59FF;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* end hOW kWIKPIC wORKS? */

@media screen and (max-width:1400px) {
    

}
/*end hero section */