body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --granny-lipgloss: #FF3895;
}


.granny-lipgloss {
    color: var(--granny-lipgloss);
}


.kanit-thin {
    font-family: "Kanit", sans-serif;

  }

.fw-275{
    font-weight:275;
}


.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}

.fw-900{
    font-weight: 900;
}

.isolation{
    isolation: isolate;
}




/* hero slider */
/* .slick-slide {
    width: 161px !important;
}
.slick-slide .slick-current .slick-active .slick-center{
    width: 292px !important;
} */



.scanning-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: scan 7s infinite linear; /* Adjust timing as needed */
}

@keyframes scan {
    0% {
        top: -5%; /* Start off-screen at the top */
    }
    50% {
        top: 90%; /* Move to the bottom of the container */
    }
    100% {
        top: -5%; /* Move back to the top */
    }
}



/*end hero slider */

/* nav */

.navleftp{
    padding-right: 63px;
}

.navbar-wrapper {
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(106.38deg, #FFD7E9 -18.13%, #161313 73.43%);
    display: inline-block; 
}

.nav-main {
    background-color: #000;
    padding: 25px;
    border-radius: 10px;
}


/* end nav */

/* media query */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }
}
/*end media query */









