body {
    font-family: 'Kanit', sans-serif;
}

.fw-275{
    font-weight:275;
}


.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}

.fw-900{
    font-weight: 900;
}




/* hero slider */
/* .slick-slide {
    width: 161px !important;
}
.slick-slide .slick-current .slick-active .slick-center{
    width: 292px !important;
} */



.scanning-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: scan 7s infinite linear; /* Adjust timing as needed */
}

@keyframes scan {
    0% {
        top: -5%; /* Start off-screen at the top */
    }
    50% {
        top: 90%; /* Move to the bottom of the container */
    }
    100% {
        top: -5%; /* Move back to the top */
    }
}



/*end hero slider */













