:root{
    --dr: #6C6C6D;
    --dr-light: #9E9E9F;

}

.dr-clr{
    color: var(--dr);
}

.dr-clr-light{
    color: var(--dr-light);
}

.up-main-box{
    background-color: #0C0B0B;
    padding: 12px;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 11% 71% 10%;
    grid-gap: 15px;
    border-radius:8px;
}

.fs-13{
    font-size: 13px;
}
.fs-11{
    font-size: 11.6px;
}
/* 
.dz-preview.dz-image-preview.dz-processing.dz-error.dz-complete{
    width: 33.33%;
} */


.dropzone.needsclick.demo-upload.dz-clickable.dz-started{
    background-image: unset !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: unset !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}


.subgrd-row{
    display: grid;
    grid-template-columns: 11% 71% 10%;
    grid-gap: 15px;
}
.subgrd-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropzone .dz-preview .dz-remove{
    padding: 0px !important;
}
.progress{
    margin: 0px !important;
    margin-top: 12px !important;
}

.dropzone .dz-preview{
    margin: 0px !important;
}



.dropzone .dz-preview.dz-success .dz-success-mark{
    -webkit-animation:unset !important;
    animation:unset !important;
}

.dz-preview.dz-success .dz-success-mark{
    pointer-events:unset !important; 
    opacity: unset !important;
    z-index:unset !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    margin-left: unset !important;
    margin-top: unset !important;
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

.main-db{
    display: flex;
    gap: 13px;;
}
.dropzone .dz-preview{
    min-height: auto !important;
}

.dsa-box-main .dsa-box{
    background-color: var(--main-color);
    border:1px solid var(--main-border);
}

.dsa-box-main:hover .dsa-box{
    border:1px solid var(--ds-hrborder);
}
.dsa-box-main .view-eventbtn {
    background-color: #0B0A0A;
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    border-radius: 12px;
    padding: 0.9rem 1.25rem;
}

.dsa-box-main:hover .view-eventbtn {
    background-color: #333333;
}

.text-b{
    color: var(--text-blue);
}
.tens{
    font-size: 36px !important;
}

.arrow-main-btn{
    position: relative;
    top: 50%;
    left: 91%;
    z-index: 9999;      
}

.sidebarCollapse svg {
    transition: transform 0.3s ease-in-out;
}

.sidebar-closed .sidebarCollapse svg {
    transform: rotate(180deg);
}

.main-container.sidebar-closed.sbar-open .nav-sidetext{
display: none;
}
.main-container.sidebar-closed.sbar-open .link-sdb{
    display: flex !important;
    justify-content: center !important;
}

.pagination {
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-item .page-link {
    /* background-color: transparent; */
    border: none;
    color: #888;
    font-size: 20px;
    padding: 10px 15px;
}
.page-item.active .page-link {
    background-color: #880037;
    color: #fff;
}
.white-space{
    white-space: nowrap;
}

.p-8px{
    padding: 0px;
    padding: 8px;

}
.grid-container {
    display: grid;
    gap: 10px; /* Optional spacing */
}

/* Default Layout (Large Screens) */
.grid-container.three-cols {
    grid-template-columns: 49% 23% 24%;
}

.grid-container.two-cols {
    grid-template-columns: 1fr 1fr;
}

.pmsp{
    padding-left:5px;
}

.three-cols .custome-vis{
    display: flex;
    justify-content: flex-end;
}

.two-cols .custome-vis{
    display: flex;
    justify-content: start;
}


@media screen and (max-width:1200px){
    .dropzone.needsclick.demo-upload.dz-clickable.dz-started{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:992px){
    .btn-close-main{
        position: absolute;
        right: 27px;
        top: 11px;
        z-index: 9999;
    }
.header{
    background-color:#040404;
}
}
@media screen and (max-width:576px){
    .three-cols .custome-vis {
        display: flex;
        justify-content:start;
    }
    .navbar {
        min-height: 55px;
    }
    #content {
        margin-top: 58px;
    }
    .grid-container.three-cols {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-container.two-cols {
        grid-template-columns: 1fr 1fr;
    }
    
    .form-group label, legend, label{
        font-weight: 600;
    }
    #sidebar ul.menu-categories li.menu > .dropdown-toggle{
        font-size: 14px;
    }
    .sidebar-wrapper {
        padding: 10px 29px 14px 10px;
    }
    .dropzone.needsclick.demo-upload.dz-clickable.dz-started{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dsa-box-main .view-eventbtn {
        padding: 0.5rem 0.6rem;
    }
    .header-container .navbar-nav.theme-brand {
        margin-left: 15px;
    }
    .p-smm-0{
        padding: 0px !important;;
    }
    .fs-24{
        font-size: 24px !important;
    }

    #sidebar ul.menu-categories li.menu > .dropdown-toggle svg {
        color: #888ea8;
        margin-right: 9px;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        stroke-width: 1px;
        fill: #888ea8;
    }
    .mpv{
        padding: 0px !important;
    }

}