{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matched Image</title>
</head>
<body>
    <div>
        <h1>Matched Image</h1>
        {% if matched_image %}
            {% for image_url in matched_image %}
                <img src="{{ image_url }}" alt="Matched Image">
            {% endfor %}
        {% else %}
            <p>No matched image found.</p>
        {% endif %}
    </div>
</body>
</html>
